.MuiPaper-root {
    display: inline-block;
}

.genre {
    display: inline-block;
    margin: 10px;
}

.detailsPoster {
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    padding-top: 35px;
}


.text {
    color: #663F46;
}

